{% extends "base.html" %}
{% load humanizelib %}
{% load crispy_forms_tags %}

{% block content %}

<style>
  .ajust {
    line-height: 15px;
    padding-top: 33px;
  }
</style>

{% include "components/navbar.html" %}

{% if not request.user.is_superuser %}
  <section class="container pt-5">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="facturas-tab" data-bs-toggle="tab" href="#facturas" role="tab">Facturas</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="datos-personales-tab" data-bs-toggle="tab" href="#datos_personales" role="tab">Datos Personales</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="pedidos-tab" data-bs-toggle="tab" href="#pedidos" role="tab">Pedidos</a>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="facturas" role="tabpanel">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Producto</th>
              <th scope="col">Tipo</th>
              <th scope="col">Método</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            {% for product_invoice in product_invoices %}
              <tr>
                <td>{{ product_invoice.product.brand }}</td>
                <td>{{ product_invoice.product.category }}</td>
                <td>{{ product_invoice.payment_method }}</td>
                <td>${{ product_invoice.total_amount|intcomma }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>
{% else %}
  <section class="container pt-5">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="tracker-tab" data-bs-toggle="tab" href="#tracker" role="tab">Tracker</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="customer-pedidos-tab" data-bs-toggle="tab" href="#customerPedidos" role="tab">Customer Pedidos</a>
      </li>
    </ul> 

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="tracker" role="tabpanel">
        <h3>Potenciales Compradores</h3>
        <table class="table table-hover pt-2">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col" class="d-lg-inline-block w-25">Nombre</th>
              <th scope="col" class="d-none d-lg-inline-block w-25">Teléfono</th>
              <th scope="col" class="d-none d-lg-inline-block w-25">Correo</th>
              <th scope="col" class="d-lg-inline-block w-25">Contactado</th>
            </tr>
          </thead>  
          <tbody>
            {% for buyer in buyerlist_paginated %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td class="d-lg-inline-block w-25"><a href="{% url 'handle_buyer' buyer.id %}">{{ buyer.name }}</a></td>
                <td class="d-none d-lg-inline-block w-25">{{ buyer.phone }}</td>
                <td class="d-none d-lg-inline-block w-25">{{ buyer.email }}</td>
                <td class="d-lg-inline-block">
                  {% if buyer.checked %}
                    ✅
                  {% else %}
                    ❌
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        
        <div class="pagination">
          {% if buyerlist_paginated.has_other_pages %}
          <div class="d-flex justify-content-center">
            <ul class="pagination">
              {% if buyerlist_paginated.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{ buyerlist_paginated.previous_page_number }}" hx-boost="true">Anterior</a></li>
              {% endif %}
              {% for page_num in buyerlist_paginated.paginator.page_range %}
              <li class="page-item {% if page_num == buyerlist_paginated.number %}active{% endif %}">
                <a class="page-link" href="?page={{ page_num }}" hx-boost="true">{{ page_num }}</a>
              </li>
              {% endfor %}
              {% if buyerlist_paginated.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{ buyerlist_paginated.next_page_number }}" hx-boost="true">Siguiente</a></li>
              {% endif %}
            </ul>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endif %}

{% endblock content %}