{% extends "base.html" %}
{% load humanizelib %}
{% load crispy_forms_tags %}

{% block content %}

<style>
  .ajust {
    line-height: 15px;
    padding-top: 33px;
  }
</style>

{% include "components/navbar.html" %}

{% if not request.user.is_superuser %}
  <!-- Vista para usuarios normales (no superusuarios) -->
  <section class="container pt-5">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="facturas-tab" data-bs-toggle="tab" href="#facturas" role="tab">Facturas</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="datos-personales-tab" data-bs-toggle="tab" href="#datos_personales" role="tab">Datos Personales</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="pedidos-tab" data-bs-toggle="tab" href="#pedidos" role="tab">Pedidos</a>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">
      <!-- Pestaña de Facturas -->
      <div class="tab-pane fade show active" id="facturas" role="tabpanel">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Producto</th>
              <th scope="col">Tipo</th>
              <th scope="col">Método</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            {% for product_invoice in product_invoices %}
              <tr>
                <td>{{ product_invoice.product.brand }}</td>
                <td>{{ product_invoice.product.category }}</td>
                <td>{{ product_invoice.payment_method }}</td>
                <td>${{ product_invoice.total_amount|intcomma }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <!-- Pestaña de Datos Personales -->
      <div class="tab-pane fade" id="datos_personales" role="tabpanel">
        <a href="{% url 'edit_profile' %}" hx-boost="true">Editar</a>
        <div class="col-lg-8 pt-2">
          <div class="card mb-4">
            <div class="card-body ajust">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Nombre</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0 fw-bolder">{{ current_user.first_name }}</p>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Apellido</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0 fw-bolder">{{ current_user.last_name }}</p>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0 fw-bolder">{{ current_user.email }}</p>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Teléfono</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0 fw-bolder">{{ user_profile.phone }}</p>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Dirección</p>
                </div>
                <div class="col-sm-9" style="line-height: 20px;">
                  <p class="text-muted mb-0 fw-bolder">{{ user_profile.address }} {{ user_profile.city }}</p>
                  <p class="text-muted mb-0 fw-bolder">{{ user_profile.provincia }} {{ user_profile.country }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Pestaña de Pedidos -->
      <div class="tab-pane fade" id="pedidos" role="tabpanel">
        <table class="table">
          <!-- Aquí puedes agregar el contenido de la tabla de pedidos -->
        </table>
      </div>
    </div>
  </section>

{% else %}
  <!-- Vista para superusuarios -->
  <section class="container pt-5">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="tracker-tab" data-bs-toggle="tab" href="#tracker" role="tab">Tracker</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="customer-pedidos-tab" data-bs-toggle="tab" href="#customerPedidos" role="tab">Customer Pedidos</a>
      </li>
    </ul> 

    <div class="tab-content" id="myTabContent">
      <!-- Pestaña de Tracker -->
      <div class="tab-pane fade show active" id="tracker" role="tabpanel">
        <h3>Potenciales Compradores</h3>
        <table class="table table-hover pt-2">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Teléfono</th>
              <th scope="col">Correo</th>
              <th scope="col">Contactado</th>
            </tr>
          </thead>
          <tbody>
            {% for buyer in buyerlist %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'handle_buyer' buyer.id %}">{{ buyer.name }}</a></td>
                <td>{{ buyer.phone }}</td>
                <td>{{ buyer.email }}</td>
                <td>
                  {% if buyer.checked %}
                    ✅
                  {% else %}
                    ❌
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <!-- Pestaña de Customer Pedidos -->
      <div class="tab-pane fade" id="customerPedidos" role="tabpanel">
        <a class="btn btn-success mt-3 mx-3" href="{% url 'create_pedido' %}" hx-boost="true">Agregar Pedido</a>
      </div>
    </div>
  </section>
{% endif %}

{% endblock content %}