{% extends "base_account.html" %}
{% load crispy_forms_tags %} 
{% load static %}

{% block content %}
<section class="vh-100 gradient-custom" style="
  background-image: url({% static 'images/que-es-importacion.jpg' %});
    ackground-repeat: no-repeat;
    background-position: right;
    background-size: cover;
  ">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <h1 class="mb-4">Inicia Sesión</h1>
            
            <form method="post">
              {% csrf_token %}
              <!-- Campo de Usuario/Email -->
              <div class="form-group mb-4">
                {{ form.login|as_crispy_field }}
              </div>

              <!-- Campo de Contraseña -->
              <div class="form-group mb-4">
                {{ form.password|as_crispy_field }}
              </div>

              <!-- Botón de Enviar -->
              <button id="id_password_helptext" class="btn btn-outline-light btn-lg px-5" type="submit">
                Iniciar sesión
              </button>
            </form>

            <!-- Opciones Adicionales -->
            <div class="mt-4">
              <p class="small mb-0">
                ¿No tienes cuenta? 
                <a href="{% url 'custom_signup' %}" class=" fw-bold text-success">
                  Regístrate aquí
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
