{% extends "base_account.html" %}
{% load crispy_forms_tags %} 

{% block content %}
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <h1 class="mb-4">Recuperar Contraseña</h1>

            <p class="mb-4">
              Ingresa tu correo electrónico registrado y te enviaremos un enlace para restablecer tu contraseña.
            </p>

            <form method="post">
              {% csrf_token %}
              <!-- Campo de Correo Electrónico -->
              <div class="form-group mb-4">
                {{ form.email|as_crispy_field }}
              </div>

              <!-- Botón de Enviar -->
              <button class="btn btn-outline-light btn-lg px-5" type="submit">
                Enviar Enlace
              </button>
            </form>

            <!-- Opciones Adicionales -->
            <div class="mt-4">
              <p class="small mb-0">
                ¿Ya recuerdas tu contraseña? 
                <a href="{% url 'account_login' %}" class="text-white-50 fw-bold">
                  Inicia Sesión
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
