{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block content %}
{% include "components/navbar.html" %}
<section class="container">
    <!-- Formulario para ingresar la cédula -->
    <form method="post" hx-post="{% url 'possiblebuyer' car.slug %}" hx-target="#result-container" >
        {% csrf_token %}

        <div class="pt-5 mt-4 d-lg-flex gap-5" >
            <div class="col-12 col-lg-3 d-flex flex-column">
                <div class="mb-3">
                    <label for="cedula">Cédula:</label>
                    <input class="form-control" type="text" placeholder="000-0000000-0" id="cedula" name="cedula" required >
                </div>
                <div class="">
                    <!-- Aplicar la máscara al campo phone -->
                    {% render_field form.phone class="form-control" data-mask="000-000-0000" placeholder="000-000-0000" %}
                </div>
                <div class="">
                    {{ form.email|as_crispy_field }}
                </div>
                <div class="">
                    {{ form.comment|as_crispy_field }} 
                </div>
            </div>
            <div class="vr d-none d-lg-block"></div>
            <div>
                <!-- lista de bancos-->
                <div>
                    <img  class=""src="{% static "images/bancos/Bacc.png" %}" alt="Bacc banco" style="
                    width: 328px;
                    height: 121px;
                ">
                </div>
            </div>
        </div>
        <button class="btn btn-sm btn-success my-2" type="submit">Enviar</button>
    </form>
    
    <!-- Aquí se muestra el formulario con los datos si la cédula fue validada -->
    <div id="result-container"></div>
</section>

<script>
    $(document).ready(function(){
        // Aplicar la máscara a todos los elementos con el atributo data-mask
        $('[data-mask]').each(function() {
            $(this).mask($(this).data('mask'));
        });
    });
</script>
{% endblock content %}
