<footer>
 <!-- Grid container -->
 <div class="container">
  <!-- Section: Social media -->
  <section class="">
    <!-- Facebook -->
    <a
      target="_blank"
      data-mdb-ripple-init
      class="btn btn-link btn-floating btn-lg text-body m-1"
      href="https://www.facebook.com/share/v/1DESSneXHu/?mibextid=wwXIfr"
      role="button"
      ><i class="fab fa-facebook-f text-white"></i
    ></a>

    <!-- Twitter -->
    <a
      target="_blank"
      data-mdb-ripple-init
      class="btn btn-link btn-floating btn-lg text-body m-1"
      href="#!"
      role="button"
      ><i class="fab fa-twitter text-white"></i
    ></a>

    <!-- Instagram -->
    <a
      target="_blank"
      data-mdb-ripple-init
      class="btn btn-link btn-floating btn-lg text-body m-1 text-white"
      href="https://www.instagram.com/sri_mport?igsh=MWh5cWNjaHR2eGN4MA%3D%3D&utm_source=qr"
      role="button"

      ><i class="fab fa-instagram text-white"></i
    ></a>
  </section>
  <!-- Section: Social media -->
</div>
<!-- Grid container -->

<!-- Copyright -->
{% comment %} <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
  © 2020 Copyright:
  <a class="text-body" href="https://mdbootstrap.com/">MDBootstrap.com</a>
</div> {% endcomment %}
<!-- Copyright -->
</footer>
